  
  <%= image_tag idea.picture_url(:thumb), :class => "foto" if idea.picture.present? %>
  
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to idea.name, idea_path(idea.id), class: 'text-dark' %> 
    </h5>
    
    <p class="card-text">
      <%= idea.description %> 
    </p>

      <small class="text-muted"> Postado hรก <%= time_ago_in_words(idea.created_at) %></small>
    
    <p>
    <strong><%= pluralize idea.comments.count, "comment" %></strong>
    </p>

  </div>

