<div id="<%= dom_id(comment) %>">
   <% if comment.created_at %> 
      <div>
        <%= comment.name %> 
        - <small class="text-muted"> hรก <%= time_ago_in_words(comment.created_at || Time.now) %></small>   
      </div>
   
      <div><%= comment.content %></div> 
      <% if can? :update, @comment %>
         <%= button_to 'Delete', [comment.idea, comment],
               :confirm => 'Are you sure?',
               :method => :delete,
               :class => "btn btn-link" %>
      <% end %>
   <% end %> 
</div>

   



